@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Righteous&display=swap');
  /*
  #0B2343 - Oxford Blue
  #ffcc05 - Sunglow
  #FF6B40 - Outrageous Orange
  #00BAE4 - Cyan Process*/
  
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
  }
  /* Optional: show position indicator in red */
  ::-webkit-scrollbar-thumb {
	background: #0b2343;
  }
  body {
	font-family: sans-serif;
	margin: 0 auto;
  }
    /* ------------------------Navbar section--------------------------------------  */
	.nav{
		width: 100%;
		background-color: #0b2343;
		color: white;
	}
	img.logo{
		width: 13%;
	}
	.navBtn{
		position: absolute;
		font-size: 1.5rem;
		width: 4rem;
		margin-left: 18rem;

	}
  /* .navbar img,
  .navbar h1,
  .navbar a,
  .dropdown {
	display: inline-block;
  } */

  
 
  h1 {
	float: left;
	color: white;
	padding: 0 0 0 5rem;
	margin: 1.5rem;
	font-size: 25px;
	margin-left: 3rem;
  }
 
  /* --------- Home ------------*/
  .Home {
	background-color: #0b2343;
	width: 100%;
	padding-top: 4rem;
	color: white;
	padding: 10rem 0;
  }
  .Home div {
	padding: 1rem 8rem;
	align-items: center;
  }
  .Home h2{
	  position: absolute;
  }
  h2.welcome{
	  margin-top: -1rem;
	  margin-left: 25rem;
	  animation-name: headings;
	  animation-duration: 4s;
	  padding-top: 5rem;
  }
  h2.to{
	  margin-top: 10rem;
	  margin-left: 45rem;
	  animation-name: headings;
	  animation-duration: 4s;
	  padding-top: 5rem;
	  
  }
  h2.factory{
	  margin-top: 20rem;
	  margin-left: 35rem;
	  color: #ffcc05;
	  font-family: 'Righteous', cursive;
	  padding-top: 5rem;
	  font-size: 4rem;
	  animation-name: headings;
	  animation-duration: 4s;
  }
  @keyframes headings {
	  0% {margin-left: 10%};
	  25% {margin-left: 10%};
	  50% {margin-left: 10%};
	  100% {margin-left: 10%};
  }
  .Home img.abstract{
	  width: 80%;
	  margin-left: 10%;
	
  }

  /* --------- Brand ------------*/
  .Brand {
	background-color: #ff6b40;
	display: flex;
	overflow: auto;
	white-space: nowrap;
	margin: -1rem 0 0 0;
  }
  .Brand div {
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3rem 2rem;
  }
  .Brand header {
	font-weight: bold;
  }
  .Brand p {
	word-break: break-all;
  }
  
div.inquisitive{
	  background-color: #B29704;
	  color: white;
}
div.determination{
	background-color: #FFE139;
	color: white;
}
div.optimistic{
	background-color: #FFDD20;
	color: white;
}
div.intelligence{
	background-color: #0b2343;
	color: white;
}
  /* --------- about program ------------*/
  .about img {
	padding-left: 5rem;
  }
  
  div.centerDiv h2 {
	font-size: 35px;
	text-align: left;
	padding: 5rem 0 0 0;
	margin-left: 6.5rem;
  }
  .about p {
	/* word-wrap: break-word; */
	padding: 0 7rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .grid-container {
	display: grid;
	grid-template-columns: auto auto;
	padding: 1rem;
  }
  
  button {
	margin: 0 7rem 1rem;
	padding: 0.7rem;
	width: 8rem;
	color: white;
	background-color: #ffcc05;
	border: none;
	border-bottom: 4px solid #0b2343;
	font-size: 1rem;
	font-family: sans-serif;
  }
  /* --------- space saver ------------*/
  .imgDiv img {
	width: 100%;
  }
  blockquote{
	  margin: 0;
	  padding: 10rem;
	  background-color: #ffcc05;
	  text-align: center;
  }
  q{
	  font-family: 'Dancing Script', cursive;
	  font-size: 2rem;
	  color: #00BAE4;
  }
  cite{
	  color:   #00BAE4;
	  margin-left: 15rem;
  }
  
  /* --------- where to find us ------------*/
  iframe {
	border: 1px solid black ;
	padding: 5rem ;
	box-shadow: 10px 10px 10px 5px black;
	border-radius: 1rem;
	background-color: white;
	
  }
  section.container{
	  border-top: 2px solid rgb(233, 233, 233);
	  padding-top: 1rem;
	  background-color: rgb(233, 233, 233);
	  padding: 1px;
	  width: 100%;
  }
  section.container h2{
	  text-align: center;
	  font-size: 2rem;
	  font-family: sans-serif;
  }
  
img.big-logo{
	width: 90%;
  }
section.grid-container a {
	font-family: 'Dancing Script', cursive;
	font-size: 2rem;
	text-shadow: -0.5px 1px 1px rgba(0, 0, 0, 0.5); 
	

}
section.grid-container{
	width: 100%;
}
  .cont_info {
	padding: 10rem 4rem 0 0;
	font-size: 25px;
  }
  .cont_info i,
  .cont_info a {
	padding: 1.5rem 0;
  }
  .cont_info a {
	text-decoration: none;
	color: #0b2343;
  }
  .cont_info a:visited {
	color: #ffcc05;
  }
  .find-us {
	margin-bottom: 7rem;
  }
  /* --------- footer ------------*/
  .footerSection {
	background-color: #0b2343;
  }
  .footerSection i,
  label {
	color: white;
	margin: 2rem 10rem 0 -9rem;
	float: right;
  }
  .footerSection img {
	margin: 0 5rem;
	padding: 0;
  }
/* ---------------------Media Screen For Responsiveness----------------------------------------------- */
@media  screen and (min-width: 359px) and (max-width: 415px) {
	
	
	.about{
		overflow: hidden;
	}
	h1{
		font-size: 10px;
	}
	h2.welcome{
		margin-top: -5rem;
		margin-left: 3rem;
		font-size: 0.5rem;
	
	}
	
	
	h2.to{
		margin-top: -4rem;
		margin-left: 5rem;
		animation-name: headings;
		animation-duration: 4s;
		padding-top: 5rem;
		font-size: 0.5rem;
		
	}
	h2.factory{
		margin-top: -3rem;
		margin-left: 0.2rem;
		color: #ffcc05;
		font-family: 'Righteous', cursive;
		padding-top: 5rem;
		font-size: 0.8rem;
		animation-name: headings;
		animation-duration: 4s;
	}
	section.grid-container{
		display: block;
	}
	div.centerDiv{
		margin-left: 1rem;
	}
	div.centerDiv p{
		padding: 0;
		margin-left: -6rem;
		font-size: 1rem;
		word-wrap: break-word;
		width: 80%;
	
	}
	div.centerDiv h2{
		
		font-size: 1.5rem;
		text-align: left;
		margin-left: -6rem;
	}
	iframe{
		width: 90%;
	}
	q{
		font-size: 0.5rem;
		display: block;
		width: 80%;
	}

	cite{
		margin-left: 1rem;
	}
}